/*
 * You should write your CSS in this file.  Don't forget to add your name and
 * @oregonstate.edu email address below.
 *
 * name: Joseph Noonan
 * email: noonanj@oregonstate.edu
 */

header {
    display: inline-block;
    width: 100%;
    height: 150px;
    padding: 5px;
    background-color: #000000;
    position: absolute;
    top: 0px;
    left: 0px;
}

.site-title a {
    font-family: Courier New, Courier, monospace;
    font-size: 75px;
    font-weight: 100;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    top: -130px;
    left: 150px;
}